<% # トークのタイトル%>

<h1 class="title">Talk：User1</h1>

<% # MSGが表示される%>
<div id="messages">
  <%= render @messages %>
</div>

<% # 発言を入力する欄とその指示 %>

<form>
  <label>発言を入力:</label><br>
  <input type="text" data-behavior="talk_speaker">
  <br>
  <br>
</form>