// Place all the styles related to the talks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title{
    width: 300px;
    height: 50px;
    background-color: #00b;
    border: 2px;
    border-radius: 8px;
    box-shadow: 0 0 0 4px blue;
    color: white;
    margin: 20px 0;
    padding: 5px;
}

.message {
    width: 200px;
    height: 50px;
    background-color: #4169e1;
    border: 2px;
    border-radius: 8px;
    box-shadow: 0 0 0 4px blue;
    color: white;
    margin: 1em 0;
    padding: 1em;
}